* {
    margin: 0;
    padding: 0;
}

h
{
    overflow: hidden;
}

header {
    background-image: url(../Images/1480262568_SakurasounoPetnaKanojo_scr1.jpg);
    background-size: cover;
    max-width: 100%;
    height: 300px;

}

header .col.col-md-auto.menu-item {
    color: black;
    font-weight: bold;
}
header h1{
    font-size:5em;
    margin-left:40px;
}
header h2{
    margin-top:20px;
    margin-left: 40px;
}
.navinf a{
    color:black;
    font-weight:bold;
    margin-left:40px;
}

header .menu-item a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
}
header .menu-item:hover {
    background-color:antiquewhite;
}
body .logo {
    padding-left: 40px;
    padding-right: 40px;
    background-color: khaki;
    overflow: hidden;
}
body general-inf {
    margin-top: 20px;
    background-color: blueviolet;
    width: 100%;
    max-width: 100%;
    
}

.col.inform{
    background-color:azure;
    width:70%;
    margin-left:100px;
    margin-right:100px;
}
col.inform h4.hh4{
    font-weight:bold;
}
col.inform p.stitle{
    font-weight:bold;
}